.navbar-nav li a :hover {
    color: white;
    transition: all 0.2s ease 0s;
    /* transition: all 0.2s ease 0s; */
    background-color: #7453fc;
    border-radius: 18px;
    padding: 7px 15px 7px 15px;
}

.imageBanner {
    margin-left: 70px;
}

@media screen and (max-width: 880px) {
    .imageBanner {
        margin-top: 40px;
        margin-left: 0px;
    }
}