.navbar-nav li a :hover {
    color: white;
    transition: all 0.2s ease 0s;
    /* transition: all 0.2s ease 0s; */
    background-color: #7453fc;
    border-radius: 18px;
    padding: 7px 15px 7px 15px;
}

.imageBanner {
    margin-left: 70px;
}

@media screen and (max-width: 880px) {
    .imageBanner {
        margin-top: 40px;
        margin-left: 0px;
    }
}

.mainModal {
    z-index: 500;
    position: absolute;

}

@media screen and (max-width: 880px) {
    .mainModal {
        margin-left: 30px;
    }
}

/* button on sign sign up modal */

.btnAnimate:hover {
    animation: none;
}

.btnAnimate {
    animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-14deg);
    }

    40%, 100% {
        transform: rotateZ(0);
    }
}


/* button on sign sign up modal */

/* button in shop cards */

.btnShop {
    border: none;
    padding: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.priceText {
    color: #7453fc;
}

@media screen and (max-width: 880px) {
    .form-text {
        font-size: 8px;
    }
}

@media screen and (max-width: 880px) {
    .lineBreaker {
        max-width: 100px;
    }
}


/* button in shop cards */


/* main buttons */

.buttonx {
    font-size: 12px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #7453fc;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: capitalize;
    transition: all .3s;
    position: relative;
    overflow: hidden;

}

.buttonx:after {
    width: 78%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}


.buttonx:hover {
    background-color: #7453fc;
    color: #fff;
}

/* buttons */